{% extends 'base.html.twig' %}
{% block title %}
    "Hello, my name is  {{ name }} {{ lastName }}"
{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-12">
            <h2 style="text-align:center;opacity: 0.8">Hi, my name is {{ name }} {{ lastName }}</h2>
            <br>
            <h3 style="text-align:center;opacity: 0.8">Here is some of my info:</h3>
            <br>
            <table style="width: 100%;border: 1px black dotted;text-align:center;">
                <tr style="border-bottom: black 1px dotted">
                    <td style="border-right: black 1px dotted">Info :</td>
                    <td style="border-right: black 1px dotted">Birthday :</td>
                    <td>Sex :</td>
                </tr>
                <tr>
                    <td style="border-right: black 1px dotted">{{ info }}</td>
                    <td style="border-right: black 1px dotted">{{ dateOfBirth|date('F d, Y') }}</td>
                    <td style="border-right: black 1px dotted">{{ sex }}</td>
                </tr>
            </table>
            <br>
        </div>
    </div>

{% endblock %}